@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<select class="selectpicker" multiple data-live-search="true" data-size="5" title="Choose a stack..." data-max-options="2"> 
    <option>ett</option>
    <option>två</option>
    <option>tre</option>
    <option>fyra</option>
</select>