@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="website-background">
    <div style="display:flex;justify-content:center;">
        <h6 style="justify-self:center;" class="display-6"><a asp-page="./Users/Index">Users</a> | <a asp-page="./Projects/Index">Projects</a></h6>
    </div>
</div>